@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-backgroundDark: #212a31;
  --color-grayDark: #2e3944;
  --color-customBlue: #124e66;
  --color-textLight: #d3d9d4;
  --color-grayLight: #748d92;
  --color-customOrange: #e9a441;
  --radius-projectImg: 10% 1%;
  --breakpoint-mobile: 767px;
  --shadow-btnhover: rgb(0, 0, 0, 0.4) -3px -3px 6px 1px;
  --shadow-btn: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  --shadow-card: rgba(255, 255, 255, 0.24) 0px 0px 8px;
}
*,
::before,
::after {
  box-sizing: border-box;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

p {
  --paragraphMarginBottom: 24px;
  /* margin-block: 0; */
}

p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
select,
button {
  font: inherit;
}

html {
  height: 100%;
}

html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1.5;
  overflow-x: hidden;
  width: 100%;
  background-color: #212a31;
  color: #d3d9d4;
}

a:where([class]) {
  display: inline-flex;
}

button,
label {
  cursor: pointer;
}

:where([stroke]:not([stroke="none"], [stroke^="url"])) {
  stroke: currentColor;
}

svg * {
  transition-property: fill, stroke;
}
