.header {
  position: sticky;
  top: 0;
  left: 0;
  height: 70px;
  z-index: 100;
}

.cusomLabel {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: 0.3s;
}
.cusomLabel::after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(188deg, #ffcc89, #d8860b);
  border-radius: 50%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.darkmode_container {
  width: 0;
  height: 0;
  visibility: hidden;
}
.darkmode_container:checked + .cusomLabel {
  background: #242424;
}
.darkmode_container:checked + .cusomLabel::after {
  left: 100%;
  transform: translateX(-100%);
  background: linear-gradient(188deg, #777, #3a3a3a);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.cusomLabel:active::after {
  width: 29px;
}
.cusomLabel svg {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 10%;
  transition: 0.3s;
}
.cusomLabel svg:nth-of-type(1) {
  left: 2%;
}
.cusomLabel svg:nth-of-type(2) {
  left: 98%;
  transform: translateX(-100%);
}
.darkmode_container:checked + .cusomLabel svg:nth-of-type(1) {
  fill: #fff;
}
.darkmode_container:checked + .cusomLabel svg:nth-of-type(2) {
  fill: #fff;
}
/* menu mobile */
.menuBtn {
  background: none transparent;
  border: 4px solid coral;
  border-left: 0 solid transparent;
  border-right: 0 solid transparent;
  cursor: pointer;
  display: block;
  height: 24px;
  position: absolute;
  top: 18px;
  left: 50%;
  width: 24px;
  transform: translateX(-50%);
  transition: all .2s;
  &::before {
    background: coral;
    content: '';
    height: 4px;
    left: 0;
    position: absolute;
    top: 6px;
    width: 24px;
    transition: all .2s;
  }
  &::after {
    background: coral;
    content: '';
    height: 4px;
    left: 0;
    position: absolute;
    top: 6px;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    transform: rotate(90deg);
    transition: all .2s;
  }
}
.menuCloseBtn {
  border: 4px solid silver;
  border-radius: 50%;
  height: 28px;
  top: 16px;
  left: 50%;
  width: 28px;
  transform: translateX(-50%) rotate(-135deg);
  &::before {
    background: silver;
    top: 8px;
    left: 4px;
    
    width: 12px;
  }
  &::after {
    background: silver;
    opacity: 1;
    top: 8px;
    left: 4px;
    visibility: visible;
    width: 12px;
  }
  &:hover {
    border-color: coral;
    &::before,
    &::after {
      background: coral;
    }
  }
}

.mobile-wrapper {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  .mobile-container {
    background: #fff;
    border: 20px solid #666;
    border-bottom-width: 80px;
    border-radius: 20px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    height: 520px;
    margin: 0 30px;
    position: relative;
    width: 320px;
    &::before {
      background: #555;
      border: 2px solid #4a4a4a;
      border-radius: 50%;
      bottom: -67px;
      content: "";
      display: block;
      height: 50px;
      left: 50%;
      position: absolute;
      width: 50px;
      transform: translateX(-50%);
      z-index: 1;
    }
  }
}

.content {
  background: aliceblue;
  display: block;
  height: 100%;
  overflow: hidden;
  width: 100%;
  nav {
    background: #fff;
    border-bottom: 1px solid #ddd;
    height: 60px;
    position: relative;
  }
  .nav-links {
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    &::before {
      background: rgba(0, 0, 0, 0.5);
      content: "";
      height: 100vh;
      left: 0;
      top: 0;
      position: absolute;
      opacity: 0;
      visibility: hidden;
      width: 100%;
      transition: all 0.3s;
    }
    li {
      border-bottom: 1px solid #ddd;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-20px);
      transition: all 0.3s;
      a {
        background: #fff;
        color: #404040;
        display: block;
        font-size: 18px;
        font-weight: 700;
        padding: 12px 20px;
        text-align: left;
        width: 100%;
        transition: all 0.3s;
        &:hover {
          color: coral;
        }
      }
    }
  }
}

.mobileInput {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  &:checked + label {
    border: 4px solid silver;
    border-radius: 50%;
    height: 28px;
    top: 16px;
    left: 18px;
    width: 28px;
    transform: rotate(-135deg);
    &::before {
      background: silver;
      top: 8px;
      left: 4px;
      width: 12px;
    }
    &::after {
      background: silver;
      opacity: 1;
      top: 8px;
      left: 4px;
      visibility: visible;
      width: 12px;
    }
    &:hover {
      border-color: coral;
      &::before,
      &::after {
        background: coral;
      }
    }
  }
  &:checked ~ .nav-links {
    &::before {
      opacity: 1;
      visibility: visible;
    }
    li {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
}


