.header {
  position: sticky;
  top: 0;
  left: 0;
  height: 70px;
  z-index: 100;
}

.cusomLabel {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: 0.3s;
}
.cusomLabel::after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(188deg, #ffcc89, #d8860b);
  border-radius: 50%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.darkmode_container {
  width: 0;
  height: 0;
  visibility: hidden;
}
.darkmode_container:checked + .cusomLabel {
  background: #242424;
}
.darkmode_container:checked + .cusomLabel::after {
  left: 100%;
  transform: translateX(-100%);
  background: linear-gradient(188deg, #777, #3a3a3a);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.cusomLabel:active::after {
  width: 29px;
}
.cusomLabel svg {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 10%;
  transition: 0.3s;
}
.cusomLabel svg:nth-of-type(1) {
  left: 2%;
}
.cusomLabel svg:nth-of-type(2) {
  left: 98%;
  transform: translateX(-100%);
}
.darkmode_container:checked + .cusomLabel svg:nth-of-type(1) {
  fill: #fff;
}
.darkmode_container:checked + .cusomLabel svg:nth-of-type(2) {
  fill: #fff;
}
/* menu mobile */
.menuBtn {
  background: none transparent;
  border-left: 0 solid transparent;
  border-right: 0 solid transparent;
  cursor: pointer;
  height: 24px;
  position: absolute;
  top: 18px;
  left: 120px;
  width: 24px;
  transform: translateX(-50%);
  transition: all .2s;
  &::before {
    content: '';
    height: 4px;
    left: 0;
    position: absolute;
    top: 6px;
    width: 24px;
    transition: all .2s;
  }
  &::after {
    content: '';
    height: 4px;
    left: 0;
    position: absolute;
    top: 6px;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    transform: rotate(90deg);
    transition: all .2s;
  }
}
.menuCloseBtn {
  border-radius: 50%;
  height: 28px;
  top: 16px;
  left: 50%;
  width: 28px;
  border-left: 4px solid ;
  border-right: 4px solid;
  border-color: inherit;
  transform: translateX(-50%) rotate(-145deg);
  &::before {
    top: 8px;
    left: 4px;
    
    width: 12px;
  }
  &::after {
    opacity: 1;
    top: 8px;
    left: 4px;
    visibility: visible;
    width: 12px;
  }
 
}




